@page "/admin/dashboard"
@inherits XaelithRestrictedPage

<HeadContent>
    <link rel="stylesheet" href="style/admin/panel.css" />
</HeadContent>

<main id="admin">
    <AdminNav />
</main>

@code {
    [CascadingParameter]
    public UserContext UserContext { get; set; } = null!;

    protected override string Title => "dashboard";
}