@font-face {
    font-family: "NK57 Monospace";
    font-weight: 300;

    src: url("./nk57-monospace-light.otf") format("opentype");
}

@font-face {
    font-family: "NK57 Monospace";
    font-weight: 400;

    src: url("./nk57-monospace-regular.otf") format("opentype");
}

@font-face {
    font-family: "NK57 Monospace";
    font-weight: 500;

    src: url("./nk57-monospace-semibold.otf") format("opentype");
}