@inject IJSRuntime JS

<section class="post post-static">
    <PostTitleBar Post="@Post"/>

    <PostContent Post="@Post"
                 ForceFullRender="@true"/>
</section>

@code {
    [Parameter]
    public required Post Post { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("xaelith.onLoad.highlightAll");
        }
    }
}