@inject IConfigService Configuration;

<div class="post-meta">
    <div class="post-meta-items">
        <span class="post-meta-item post-meta-author">
            @Post.Author
        </span>

        <span class="post-meta-item post-meta-date">
            @Post.PublishDate.ToString(
                Configuration.Root!.General.DateFormat
            )
        </span>

        <span class="post-meta-item post-meta-category">
            <a href="/category/@Post.Category">@Post.Category</a>
        </span>

        @if (Post.Tags.Any())
        {
            <div class="post-meta-item post-meta-tags">
                <ul>
                    @foreach (var tag in Post.Tags)
                    {
                        <li><a href="/tag/@tag">@tag</a></li>
                    }
                </ul>
            </div>
        }
        
    </div>
    
    @if (ShowReadMore)
    {
        <div class="post-meta-break">
            <a href="/view/@Post.Slug">// read more _</a>
        </div>
    }
</div>

@code {
    [Parameter, Required]
    public Post Post { get; set; } = null!;

    [Parameter, Required]
    public bool ShowReadMore { get; set; } 
}