<div class="post-titlebar">
    <div class="post-titlebar-left">
        <h1 class="post-title">
            <a href="/view/@Post.Metadata.Slug">
                @if (string.IsNullOrEmpty(Post.Metadata.Title))
                {
                    @(Post.Id.ToString("D"))
                }
                else
                {
                    @Post.Metadata.Title
                }
            </a>
        </h1>

        @if (!string.IsNullOrWhiteSpace(Post.Metadata.Description))
        {
            <h2 class="post-subtitle">
                @Post.Metadata.Description
            </h2>
        }
    </div>

    <div class="post-titlebar-right">
        <PostToolbar Post="@Post"/>
    </div>
</div>

@code {
    [Parameter]
    public required Post Post { get; set; }
}