@using Xaelith.Micro.Infrastructure.ServiceModel.Core

@inject IConfigService ConfigService;

<footer>
    <p class="footer-content">
        @ConfigService.Config!.General.FooterText     
    </p>    
</footer>
