@page "/"
@using Xaelith.Micro.Infrastructure.ServiceModel.Core.Content

@inject IContentService Content

<NavBar/>

<main>
    @foreach (var (_, post) in @Content.GetAllPosts())
    {
        <PostBrief Post="@post"/>
    }
</main>

<Footer/>