@page "/"
@using Xaelith.Micro.Infrastructure.ServiceModel.Core.Content

@inject IContentService Content

<NavBar/>

<main>
    @foreach (var (id, post) in @Content.GetAllPosts(p => p.Published))
    {
        <PostBrief Id="@id" Post="@post"/>
    }
</main>

<Footer/>