@using Xaelith.Micro.Infrastructure.ServiceModel.Core

@inject IConfigService Configuration

<nav id="main-nav">
    <div class="left-side">
        <div class="site-title">
            <h1>
                <a href="@Configuration.Config!.General.SiteUrl">
                    @Configuration.Config!.General.SiteTitle
                </a>
            </h1>
        </div>

        <span class="separator title-separator"></span>

        @for (var i = 0; i < Configuration.Config!.Navigation.NavigationLists.Count; i++)
        {
            var list = Configuration.Config!.Navigation.NavigationLists[i];
            
            <ul class="nav-links">
                @foreach (var link in list.Links)
                {
                    <li><a href="@link.Target">@link.Label</a></li>
                }
            </ul>
            
            if (i < Configuration.Config!.Navigation.NavigationLists.Count - 1)
            {
                <span class="separator nav-separator"></span>
            }
        }
    </div>

    <div class="right-side">
        <ul class="nav-links">
            <li>
                <a href="#"><i class="las la-cog"></i></a>
            </li>

            <li>
                <a href="#"><i class="las la-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>
</nav>