<nav id="main-nav">
    <div class="left-side">
        <div class="site-title">
            <h1><a href="#">Aura's Binary Forge</a></h1>
        </div>

        <span class="separator title-separator"></span>

        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <span class="separator nav-separator"></span>

        <ul class="nav-links">
            <li>
                <a href="#">Poetry</a>
            </li>

            <li>
                <a href="#">Stories</a>
            </li>
        </ul>
    </div>

    <div class="right-side">
        <ul class="nav-links">
            <li>
                <a href="#"><i class="las la-cog"></i></a>
            </li>

            <li>
                <a href="#"><i class="las la-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>
</nav>

@code {

}