section.post .post-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

section.post h1.post-title {
    padding: 0;
    padding-left: 8px;
    margin-bottom: 0;
    
    font-weight: 500;

    border-left: 8px solid var(--post-title-foreground);
}

section.post h1.post-title a {
    color: var(--post-title-foreground);
}

section.post h2.post-subtitle {
    display: block;
    align-self: flex-end;
    
    padding-left: 8px;
    margin: 0;
    
    border-left: 8px solid var(--post-subtitle-foreground);
    
    font-weight: 400;
    font-size: 1rem;
    
    color: var(--post-subtitle-foreground);
}

section.post .post-toolbar {
    display: inline-block;
}

section.post .post-toolbar-link i {
    vertical-align: middle;
    
    margin-top: -6px;
    
    font-size: 1.45rem;
}

section.post .post-toolbar-link {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

section.post .post-content {
    margin-top: 8px;
}

section.post ::deep p {
    margin-top: 8px;
    margin-bottom: 8px;
}

section.post ::deep p:first-of-type {
    margin-top: 0;
}

section.post ::deep p:last-of-type {
    margin-bottom: 0;
}

section.post .post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 4px;
    
    text-align: left;
    font-size: 1rem;
    
    color: var(--post-meta-foreground);
}

section.post .post-meta-author {
    color: var(--post-meta-accent);
}

section.post .post-meta-item::after {
    color: var(--post-meta-separator);
    content: " // ";
}

section.post .post-meta-item:last-of-type::after {
    content: "";
}

section.post .post-meta-tags ul {
    display: inline;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

section.post .post-meta-tags ul li {
    display: inline;
    
    margin: 0;
}

section.post .post-meta-tags ul li::after {
    content: ", ";
}

section.post .post-meta-tags ul li:last-of-type::after {
    content: "";
}

section.post .post-meta-break {
    vertical-align: middle;
    
    padding-left: 8px;
    
    margin: 0;
    
    font-weight: 500;
    font-size: 1.4rem;
    
    align-self: center;
    text-transform: uppercase;
}

section.post .post-meta-break a {
    text-wrap: nowrap;
}