nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 90%;
    padding: 8px 12px 10px 12px;
    margin: 0 auto;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    border: 1px solid var(--navbar-border);
    border-top: 0;
    border-radius: 0 0 6px 6px;
    
    box-shadow: 0 0 8px 2px var(--navbar-shadow);
    backdrop-filter: blur(10px);
    
    text-wrap: wrap;
    
    background-color: var(--navbar-background);
    
    transition: top 0.3s;
}

h1 {
    padding: 0;
    margin: 0;
}

.las {
    margin-top: 2px;
    
    font-size: 1.45rem;
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    
    margin-right: 8px;
    
    width: 100%;
    height: 100%;
    
    text-wrap: wrap;
}

.nav-lists {
    display: flex;
    flex-direction: row;    
}

.site-title {
    font-size: 0.8rem;
    font-family: "Vermin Vibes V", sans-serif;
    
    text-wrap: nowrap;
}

.separator {
    margin-right: 10px;
    margin-left: 10px;
    
    color: var(--navbar-separator-foreground);
}

.small-separator {
    margin-right: 3px;
    margin-left: 3px;

    color: var(--navbar-separator-foreground);
}

.title-separator::after {
    content: ">>";
}

.title-break {
    display: none;
}

.nav-separator::after {
    content: "//";
}
.nav-tool-separator::after {
    content: "•";
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    margin: 0;
    padding: 0;
    
    font-size: 1.2rem;
    
    text-transform: uppercase;
    
    list-style: none;
}

ul li {
    margin-right: 10px;
    
    text-overflow: ellipsis;
}

ul li:last-child {
    margin-right: 0;
}

@media screen and (min-width: 1550px) {
    nav {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    nav {
        width: 100%;

        padding-bottom: 6px;
        
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
    
    .right-side {
        padding-right: 1.2rem;
        margin-top: -2px;
    }
    
    .left-side {
        margin-top: -2px;
    }
    
    .site-title {
        margin-top: -2px;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 736px) {
    nav {
        flex-direction: column;
    }
    
    .left-side {
        flex-direction: column;
    }
    
    .site-title {
        margin-top: 2px;
        align-self: center;
    }
    
    .nav-lists {
        margin-top: 8px;
        margin-bottom: 2px;
    }
    
    ul,
    .nav-lists {
        font-size: 1.25rem;
    }
    
    .title-separator {
        display: none;
    }
    
    .right-side {
        display: none;
    }
}