@inject IJSRuntime JS
@inject IConfigService Configuration
@inject NavigationManager Navigation

<nav id="main-nav">
    <div class="left-side">
        <div class="site-title">
            <h1>
                <a href="@Configuration.Root!.General.SiteUrl">
                    @Configuration.Root!.General.SiteTitle
                </a>
            </h1>
        </div>

        <span class="separator title-separator"></span>

        <div class="nav-lists-wrapper">
            <div class="nav-lists">
                @for (var i = 0; i < Configuration.Root!.Navigation.NavigationLists.Count; i++)
                {
                    var list = Configuration.Root!.Navigation.NavigationLists[i];

                    <ul class="nav-links">
                        @foreach (var link in list.Links)
                        {
                            <li><a href="@link.Target">@link.Label</a></li>
                        }
                    </ul>

                    if (i < Configuration.Root!.Navigation.NavigationLists.Count - 1)
                    {
                        <span class="separator nav-separator"></span>
                    }
                }
            </div>
        </div>
    </div>

    <div class="right-side">
        <ul class="nav-links">
            @if (UserContext.IsAuthenticated)
            {
                <li>
                    <a @onclick='() => Navigation.NavigateTo("/admin/content/new", true)'>
                        <i class="las la-pen-alt"></i>
                    </a>
                </li>
                
                <li>
                    <a @onclick='() => Navigation.NavigateTo("/admin/dashboard", true)'>
                        <i class="las la-cog"></i>
                    </a>
                </li>
                
                <li>
                    <span class="small-separator nav-tool-separator"></span>
                </li>

                <li>
                    <a @onclick='() => Navigation.NavigateTo("/admin/logout", true)'>
                        <i class="las la-sign-out-alt"></i>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a @onclick='() => Navigation.NavigateTo("/admin/login", true)'>
                        <i class="las la-key"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>

@code {
    [CascadingParameter]
    public UserContext UserContext { get; set; } = null!;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("xaelith.enableHorizontalScroll", "#main-nav .nav-lists");
        }
    }
}