@page "/admin/content/edit/{postId}"
@inherits XaelithRestrictedPage

<HeadContent>
    <link rel="stylesheet" href="style/admin/panel.css" />
</HeadContent>

<main id="admin">
    <AdminNav />
    
    <div class="admin-content">
        <h1 class="admin-view-title">@Title</h1>
    </div>
</main>

@code {
    [CascadingParameter]
    public UserContext UserContext { get; set; } = null!;

    [Parameter, Required]
    public string PostId { get; set; } = string.Empty;

    protected override string Title => "edit entry";
}