@page "/admin/content/edit/{postId}"
@inherits XaelithRestrictedPage
@layout AdminShell

<h1 class="admin-view-title">
    @Title
</h1>

<div class="admin-inner-content">
    <EditForm Model="@EditorContext">
        <TabView TabChanged="OnTabChanged">
            <Tab Header="Edit">
                <ContentEditor Context="@EditorContext"/>
                <ContentPreview Context="@EditorContext" />
            </Tab>

            <Tab Header="Preview">
                <ContentPreview Context="@EditorContext"/>
            </Tab>
        </TabView>
    </EditForm>
</div>

@code {
    private bool _shouldRehighlightCodeInPreview = true;

    protected override string Title => "edit entry";

    [Parameter, Required]
    public string PostId { get; set; } = null!;

    [CascadingParameter]
    public UserContext UserContext { get; set; } = null!;

    public EditorContext EditorContext { get; set; } = new();

    private void OnTabChanged(TabView.Tab tab)
    {
        if (tab.Header == "Preview")
        {
            EditorContext.PreviewMarkup = Markdown.Render(
                EditorContext.Markdown
            );

            _shouldRehighlightCodeInPreview = true;

            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (_shouldRehighlightCodeInPreview)
        {
            await JS.InvokeVoidAsync("window.xaelith.highlightAll");
            _shouldRehighlightCodeInPreview = false;
        }
    }
}