@page "/admin/content/new"
@inherits XaelithRestrictedPage
@layout AdminShell

<h1 class="admin-view-title">@Title</h1>

<div class="admin-inner-content">
    <TabView TabChanged="OnTabChanged">
        <Tab Header="Edit">
            <EditForm Model="@EditorContext">
                <ContentEditor Context="@EditorContext"/>
            </EditForm>
        </Tab>

        <Tab Header="Preview">
            <ContentPreview Context="@EditorContext"/>
        </Tab>
    </TabView>
</div>

@code {
    private bool _shouldRehighlightCodeInPreview = true;

    protected override string Title => "new entry";

    [CascadingParameter]
    public UserContext UserContext { get; set; } = null!;

    public EditorContext EditorContext { get; set; } = new();

    private void OnTabChanged(TabView.Tab tab)
    {
        if (tab.Header == "Preview")
        {
            EditorContext.PreviewMarkup = Markdown.Render(
                EditorContext.Markdown
            );

            _shouldRehighlightCodeInPreview = true;

            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (_shouldRehighlightCodeInPreview)
        {
            await JS.InvokeVoidAsync("window.xaelith.highlightAll");
            _shouldRehighlightCodeInPreview = false;
        }
    }
}