@import url("../shared/fonts.css");
@import url("../shared/colors.css");

@import url("./nav.css");
@import url("./posts.css");
@import url("./footer.css");

::selection {
  background-color: var(--text-selection-background);
  color: var(--text-selection-foreground);
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
  font-family: "Rajdhani";
  color: var(--main-foreground);
}

body {
  margin: 0;
  font-size: 1.2rem;
}

.las {
  vertical-align: middle;
}

a {
  transition: .15s ease-in-out;
  color: var(--link);
  text-decoration: none;
}

a:hover {
  border: none;
  color: var(--link-hover);
  text-decoration: none;
  text-shadow: 0px 0px 3px var(--link-shadow);
}

a:active {
  color: var(--link-active);
}

main {
  margin: 0 auto;
  margin-top: 36px;
  padding-bottom: 56px;
  width: 90%;
  text-align: justify;
}

@media screen and (min-width: 1300px) {
  main {
    width: 50%;
  }
}