:root {
  --navbar-background: #5c116e99;
  --navbar-border: #dc49f0;
  --navbar-shadow: #f049d488;
  --navbar-link: #e473e4;
  --navbar-link-hover: #ff88ff;
  --navbar-separator: #73e4af;
}

nav {
  box-shadow: 0px 0px 8px 2px var(--navbar-shadow);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 8px 12px 10px 12px;
  background-color: var(--navbar-background);
  border: 1px solid var(--navbar-border);
  border-top: 0;
  border-radius: 0px 0px 6px 6px;
  width: 90%;
}

nav h1 {
  margin: 0;
  padding: 0;
}

nav .las {
  font-size: 1.45rem;
}

nav .left-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

nav .site-title {
  font-size: 0.9rem;
  font-family: "Vermin Vibes V";
  overflow: hidden;
  text-transform: uppercase;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

nav .separator {
  margin-right: 10px;
  margin-left: 10px;
  color: var(--navbar-separator);
}

nav .title-separator::after {
  content: ">>";
}

nav .nav-separator::after {
  content: "//";
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
  text-overflow: ellipsis;
}

nav ul li:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 1300px) {
  nav {
    width: 50%;
  }
}