@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div class="tab-view">
        <div class="tab-headers">
            @foreach (var tab in Tabs)
            {
                <button 
                    class="tab-button @(tab == ActiveTab ? "selected" : "")"
                    @onclick="@(() => SetActive(tab))">
                    @tab.Header
                </button>
            }
        </div>

        <div class="tab-content @(_transitionInProgress ? "fade-out" : "fade-in")">
            @ActiveTab?.Content
        </div>
    </div>

    @ChildContent
</CascadingValue>

@code {
    private bool _transitionInProgress;
    private Tab? _nextTab;
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public Action<Tab>? TabChanged { get; set; }
    
    internal List<Tab> Tabs { get; } = [];
    internal Tab? ActiveTab { get; private set; }

    internal void RegisterTab(Tab tab)
    {
        Tabs.Add(tab);
        ActiveTab ??= tab;
        
        StateHasChanged();
    }

    private async void SetActive(Tab tab)
    {
        if (tab == ActiveTab)
            return;

        _transitionInProgress = true;
        _nextTab = tab;
        StateHasChanged();

        await Task.Delay(200);

        ActiveTab = _nextTab;
        _nextTab = null;
        _transitionInProgress = false;
        
        TabChanged?.Invoke(tab);
        StateHasChanged();
    }

    public class Tab
    {
        public string Header { get; set; } = string.Empty;
        public RenderFragment Content { get; set; } = null!;
    }
}