@page "/category/{categoryname}"

@inject IContentService Content
@inject IMarkdownService Markdown

<NavBar/>

<main>
    <div class="filter-header">
        <h1>Displaying posts in category <pre>@CategoryName</pre></h1>
        
        @{
            var contentDescription = @Content.GetCategoryDescription(
                CategoryName
            );

            if (!string.IsNullOrWhiteSpace(contentDescription))
            {
                <h2>@((MarkupString)Markdown.Render(contentDescription))</h2>
            }
        }
    </div>
    
    @{
        var posts = Content.GetAllPosts(
            p => p.Published
                 && p.Type == PostType.Normal
                 && p.Category == CategoryName
        );

        <Paginator Posts="@posts" />
    }
</main>

<Footer/>

@code {

    [Parameter, Required]
    public string CategoryName { get; set; } = string.Empty;

}