@page "/category/{categoryname}"
@inherits XaelithFrontEndPage

<NavBar/>

<main>
    @if (!Posts.Any())
    {
        <NotFound Message="@NotFoundMessage"/>
    }
    else
    {
        <div class="filter-header">
            <h1>Displaying posts in category
                <pre>@CategoryName</pre>
            </h1>

            @{
                var contentDescription = Content.GetCategoryDescription(
                    CategoryName
                );

                if (!string.IsNullOrWhiteSpace(contentDescription))
                {
                    <h2>@((MarkupString)Markdown.Render(contentDescription))</h2>
                }
            }
        </div>

        <Paginator Posts="Posts"/>
    }
</main>

<Footer/>

@code {
    [Parameter, Required]
    public string CategoryName { get; set; } = string.Empty;

    protected override string Title
        => Posts.Any()
            ? $"category '{CategoryName}'"
            : "category not found";

    private List<Post> Posts { get; set; } = [];

    private string NotFoundMessage
        => $"The are no posts under the requested category <code>{CategoryName}</code> _";

    protected override void OnInitialized()
    {
        Posts = Content.GetAllPosts(
            p => p is
            {
                Metadata.Published: true,
                Metadata.Type: PostType.Normal
            } && p.Metadata.Category == CategoryName
        );
    }
}