@page "/"

@inject IConfigService Configuration
@inject IContentService Content

<PageTitle>@Configuration.Root!.General.SiteTitle // Home</PageTitle>

<HeadContent>
    <meta name="description" 
          content="@Configuration.Root!.General.SiteDescription" />
</HeadContent>
    
<NavBar/>

<main>
    @{
        var posts = Content.GetAllPosts(
            p => p.Published
              && p.Type == PostType.Normal
        );
        
        <Paginator Posts="@posts" />
    }
</main>

<Footer/>