@page "/"

@inject IContentService Content
    
<NavBar/>

<main>
    @{
        var posts = Content.GetAllPosts(
            p => p.Published
              && p.Type == PostType.Normal
        );
        
        foreach (var (id, post) in posts)
        {
            <PostBrief Id="@id" 
                       Post="@post"/>
        }
    }
</main>

<Footer/>