@page "/"
@inherits XaelithFrontEndPage
    
<NavBar/>

<main>
    @{
        if (!Posts.Any())
        {
            <div class="no-posts-notice">
                <h1>No posts to display</h1>
                <h2>There are no posts yet, you better start writing!</h2>
            </div>
        }
        else
        {
            <Paginator Posts="Posts"/>
        }
    }
</main>

<Footer/>

@code {
    private List<Post> Posts { get; set; } = [];
    
    protected override string Title => "home";

    protected override void OnInitialized()
    {
        Posts = Content.GetAllPosts(
            p => p is
            {
                Metadata:
                {
                    Published: true,
                    Type: PostType.Normal
                }
            }
        );
    }
}