@page "/"

@inject IContentService Content
    
<NavBar/>

<main>
    @{
        var posts = Content.GetAllPosts(
            p => p.Published
              && p.Type == PostType.Normal
        );
        
        <Paginator Posts="@posts" />
    }
</main>

<Footer/>