@page "/tag/{tagname}"
@inherits XaelithPage

<NavBar/>

<main>
    @if (!Posts.Any())
    {
        <NotFound Message="@NotFoundMessage" />
    }
    else
    {
        <div class="filter-header">
            <h1>Displaying posts tagged
                <pre>@TagName</pre>
            </h1>

            @{
                var contentDescription = Content.GetTagDescription(
                    TagName
                );

                if (!string.IsNullOrWhiteSpace(contentDescription))
                {
                    <h2>@((MarkupString)Markdown.Render(contentDescription))</h2>
                }
            }
        </div>

        <Paginator Posts="Posts"/>
    }
</main>

<Footer/>

@code {
    [Parameter, Required]
    public string TagName { get; set; } = string.Empty;
    
    protected override string Title
        => Posts.Any()
            ? $"tag '{TagName}'"
            : "tag not found";
    
    private List<(Guid Id, Post Post)> Posts { get; set; } = [];

    private string NotFoundMessage
        => $"There are no posts tagged <code>{TagName}</code> _";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        Posts = Content.GetAllPosts(
            p => p is { Published: true, Type: PostType.Normal }
                 && p.Tags.Contains(TagName)
        );
        
    }
}