@page "/view/{slug}"

@inject IConfigService Configuration;
@inject IContentService Content;

@{
    var post = Content.GetPostBySlug(Slug);
}

<NavBar/>

<main>
@if (post == null)
{
    <PageTitle>@Configuration.Root!.General.SiteTitle // Post Not Found</PageTitle>
}
else
{
    <PageTitle>
        @Configuration.Root!.General.SiteTitle // '@post.Value.Post.Title'
    </PageTitle>

    <HeadContent>
        <meta name="description"
              content="@Configuration.Root!.General.SiteDescription"/>
    </HeadContent>

    <PostFull Id="post.Value.Id"
              Post="post.Value.Post"/>
}
</main>

<Footer/>

@code {
    [Parameter]
    public required string Slug { get; set; }
}