@page "/view/{slug}"
@inherits XaelithFrontEndPage

<NavBar/>

<main>
    @if (Post == null)
    {
        <NotFound Message="@NotFoundMessage"/>
    }
    else
    {
        switch (Post.Metadata.Type)
        {
            case PostType.Normal:
                <PostFull Post="@Post"/>
                break;

            case PostType.Static:
                <PostStatic Post="@Post"/>
                break;

            default:
                <NotFound Message="This post type doesn't have a template."/>
                break;
        }
    }
</main>

<Footer/>

@code {
    [Parameter]
    public required string Slug { get; set; }

    protected override string Title
        => Post != null
            ? Post.Metadata.Title
            : "post not found";

    private Post? Post { get; set; }

    private string NotFoundMessage
        => $"No post with slug <code>{Slug}</code> exists _";

    protected override void OnParametersSet()
    {
        Post = Content.GetPostBySlug(Slug);
    }
}