@page "/view/{slug}"
@inherits XaelithPage

<NavBar/>

<main>
    @if (Post == null)
    {
        <NotFound Message="@NotFoundMessage"/>
    }
    else
    {
        <PostFull Id="Id" Post="Post"/>
    }
</main>

<Footer/>

@code {
    [Parameter]
    public required string Slug { get; set; }

    protected override string Title
        => Post != null
            ? Post.Title
            : "post not found";
    
    private Guid Id { get; set; }
    private Post? Post { get; set; }

    private string NotFoundMessage
        => $"No post with slug <code>{Slug}</code> exists _";

    protected override void OnInitialized()
    {
        var kvp = Content.GetPostBySlug(Slug);

        if (kvp != null)
        {
            (Id, Post) = (kvp.Value.Id, kvp.Value.Post);
        }
    }
}