<div class="input-group">
    <label for="md-editor-area">Content</label>

    <textarea id="md-editor-area"
              type="text"
              spellcheck="false"
              placeholder="Content goes here..."
              @bind="@Context.Markdown"
              @oninput="OnMarkdownInput"></textarea>

    <div class="md-editor-statusbar">
         <span class="md-editor-status md-editor-status-lines">
             Lines: @Context.Lines
         </span>

        <span class="md-editor-status md-editor-status-characters">
             Characters: @Context.Characters
         </span>
    </div>
</div>

@code {
    [Parameter]
    public required EditorContext Context { get; set; } = null!;

    private void OnMarkdownInput(ChangeEventArgs e)
    {
        Context.Markdown = e.Value?.ToString() ?? string.Empty;
        StateHasChanged();
    }
}