:root {
    --main-background: #0f0213;
    --main-foreground: #cfaee9;
    --scrollbar-background: #0f0213;
    --scrollbar-foreground: #ff88ff;
    --selection-background: #ff88ff;
    --selection-foreground: #1e0725;
    --navbar-background: #5c116e99;
    --navbar-border: #dc49f0;
    --navbar-shadow: #f049d488;
    --navbar-link-foreground: #e473e4;
    --navbar-link-hover-foreground: #ff88ff;
    --navbar-separator-foreground: #73e4af;
    --footer-foreground: #ffffff;
    --footer-background: #5c116e99;
    --footer-border: #dc49f0;
    --footer-shadow: #f049d488;
    --footer-separator: #73e4af;
    --post-title-foreground: #c96cff;
    --post-subtitle-foreground: #c96cffaa;
    --post-empty-notification-foreground: #804e9c;
    --post-continuation-prompt-foreground: #804e9c;
    --post-meta-foreground: #804e9c;
    --post-meta-border: #804e9c;
    --post-meta-separator: #73e4af99;
    --post-meta-accent: #ff88ffaa;
    --list-bullet-foreground: #ff88ff99;
    --block-background: #200529;
    --block-foreground: #aa88c4;
    --code-border: #ff88ff66;
    --table-border: #aa88c4;
    --table-header-background: #cfaee9;
    --table-header-foreground: #1e0725;
    --table-background: #0f0213;
    --table-even-row-background: #200529;
    --link-normal-foreground: #ee77ee;
    --link-hover-foreground: #ff88ff;
    --link-visited-foreground: #ee77ee;
    --link-active-foreground: #ff88ff;
    --link-active-shadow: #ff88ff88;
    --pagination-link-active-border: #ff88ff;
    --pagination-link-inactive-foreground: #ff88ff66;
    --error-foreground: #cf5049;
    --error-border: #cf5049;
    --warning-foreground: #cfae49;
    --warning-border: #cfae49;
    --post-separator: #ff88ff99;
    --header-border: #cfaee9;
    --filter-header-title-foreground: #ff88ffcc;
    --filter-header-subtitle-foreground: #ff88ffaa;
    --filter-header-marker: #73e4af;
    --filter-header-accent: #ff88ff;
    --components-reconnect-border: #ff88ff;
    --components-reconnect-shadow: #f049d488;
    --components-reconnect-background: #0f0213;
    --components-reconnect-foreground: #ff88ff;
    --alert-note-accent: #ff88ff;
    --alert-note-accent2: #ff88ff99;
    --alert-note-background: #ff88ff22;
    --alert-note-foreground: #ff88ff;
    --alert-tip-accent: #88f1ff;
    --alert-tip-accent2: #88f1ff99;
    --alert-tip-background: #88f1ff22;
    --alert-tip-foreground: #88f1ff;
    --alert-important-accent: #88ff92;
    --alert-important-accent2: #88ff9299;
    --alert-important-background: #88ff9222;
    --alert-important-foreground: #88ff92;
    --alert-warning-accent: #ffcf88;
    --alert-warning-accent2: #ffcf8899;
    --alert-warning-background: #ffcf8822;
    --alert-warning-foreground: #ffcf88;
    --alert-caution-accent: #ff889c;
    --alert-caution-accent2: #ff889c99;
    --alert-caution-background: #ff889c22;
    --alert-caution-foreground: #ff889c;
    
    --label-foreground: #73e4afaa;
    --label-marker: #73e4afcc;
    
    --textbox-border: #ff88ff66;
    --textbox-hover-border: #ff88ffaa;
    --textbox-focus-border: #ff88ff;
    --textbox-foreground: #cfaee9;
    --textbox-focus-foreground: #ff88ff;
    --textbox-focus-shadow: #ff88ff55;
    --textbox-background: #1a0421;
    --textbox-placeholder-foreground: #ff88ff55;
    
    --dropdown-background: #1a0421;
    --dropdown-border: #ff88ff66;
    --dropdown-hover-border: #ff88ffaa;
    --dropdown-focus-border: #ff88ff;
    --dropdown-placeholder-foreground: #ff88ff55;
    --dropdown-option-foreground: #cfaee9;
    --dropdown-option-hover-background: #ff88ff22;
    --dropdown-option-hover-foreground: #ff88ff;
    --dropdown-option-selected-background: #1a0421;
    --dropdown-option-selected-foreground: #cfaee9;
    --dropdown-clear-foreground: #f85252;
    
    --button-border: #ff88ffaa;
    --button-hover-border: #ff88ff;
    --button-active-border: #ff88ff88;
    --button-disabled-border: #ff88ff44;
    --button-foreground: #ff88ffaa;
    --button-hover-foreground: #ff88ff;
    --button-active-foreground: #ff88ff88;
    --button-disabled-foreground: #ff88ff66;
    --button-hover-shadow: #ff88ff55;
    
    --checkbox-foreground: #ff88ff88;
    --checkbox-hover-foreground: #ff88ffcc;
    --checkbox-checked-foreground: #ff88ff;
    --checkbox-disabled-foreground: #ff88ff66;
    
    --tab-view-border: #ff88ff;
    --tab-button-selected-border: #ff88ff;
    --tab-button-selected-foreground: #ff88ff;
}