@import url("./colors.css");
@import url("./post.css");
@import url("./pagination.css");

::selection {
    background-color: var(--selection-background);
    color: var(--selection-foreground);
}

body, html {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-size: 1.15rem;
    font-family: "Rajdhani", sans-serif;

    color: var(--main-foreground);
    background-color: var(--main-background);
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

main {
    width: 90%;
    margin: 66px auto 0;

    padding-bottom: 56px;
    text-align: justify;
}

@media screen and (min-width: 1550px) {
    main {
        width: 50%;
    }
}

@media screen and (max-width: 736px) {
    main {
        margin: 90px auto 0;
    }
}

a {
    cursor: pointer;

    transition: .15s ease-in-out;

    text-decoration: none;

    color: var(--link-normal-foreground);
}

a:hover {
    border: none;

    text-shadow: 0 0 3px var(--link-active-shadow);

    color: var(--link-hover-foreground);
}

a:active {
    color: var(--link-active-foreground);
}

*:focus,
*:focus-within {
    outline: none;
}

.filter-header h1,
.filter-header h2 {
    border: none;

    font-weight: 300;
}

.filter-header h1 {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;

    color: var(--filter-header-title-foreground);
}

.filter-header h2 {
    padding: 0;
    margin: -8px 0 0;
    font-size: 1.6rem;

    color: var(--filter-header-subtitle-foreground);
}

.filter-header {
    margin: 0 0 8px;

    text-align: center;
}

.filter-header:not(:has(h2)) {
    margin-bottom: 0;
}

.filter-header h1::after,
.filter-header h2::after {
    display: inline;

    content: " _";

    color: var(--filter-header-marker);
}

.filter-header pre {
    display: inline;

    font-family: "NK57 Monospace";
    font-size: 1.9rem;

    color: var(--filter-header-accent);
}

.filter-header p {
    margin: 0;
    padding: 0;

    display: inline;
}

table {
    empty-cells: show;
    width: 100%;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    border: 1px solid var(--table-border);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px;

    background-color: var(--table-background);
}

table thead {
    vertical-align: bottom;

    color: var(--table-header-foreground);
    background-color: var(--table-header-background);
}

table tr:nth-child(2n) {
    background-color: var(--table-even-row-background);
}

table th,
table td {
    padding: 0.25em 0.5em;
}

label {
    padding: 0;
    margin: 2px 0;

    display: block;

    text-transform: uppercase;
    font-size: 1.1rem;

    color: var(--label-foreground);

    user-select: none;
}

label:not(:has(input[type="checkbox"]))::before {
    content: "// ";

    font-size: 1.2rem;
    font-weight: 500;

    color: var(--label-marker);
}

input[type="text"],
input[type="password"],
textarea {
    padding: 0.4rem;
    margin: 0;

    width: 100%;

    border-radius: 4px;
    border: 1px solid var(--textbox-border);

    font-family: "Rajdhani";
    font-size: 1rem;

    color: var(--textbox-foreground);
    background-color: var(--textbox-background);

    transition: .15s ease-in-out;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    text-transform: uppercase;

    color: var(--textbox-placeholder-foreground);
}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover {
    border-color: var(--textbox-hover-border);
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border: 1px solid var(--textbox-focus-border);

    color: var(--textbox-focus-foreground);
    box-shadow: 0 0 6px var(--textbox-focus-shadow);
}

textarea {
    margin: 0;
}

.input-group {
    margin-bottom: 0.6rem;
    width: 100%;
}

.input-group:last-of-type {
    margin-bottom: 0;
}

.input-row {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

button {
    width: auto;

    padding: 1px 0 0 8px;
    margin: 0;

    border: none;
    border-left: 8px solid var(--button-border);

    font-family: "Rajdhani";
    font-size: 1.5rem;

    line-height: 1;
    text-transform: uppercase;

    color: var(--button-foreground);
    background-color: transparent;

    transition: 0.15s ease-in-out;

    cursor: pointer;
}

button:hover {
    border-left: 8px solid var(--button-hover-border);

    text-shadow: 0 0 4px var(--button-hover-shadow);

    color: var(--button-hover-foreground);
}

button:active {
    border-left: 8px solid var(--button-active-border);

    color: var(--button-active-foreground);
}

button:disabled {
    cursor: default;

    border-left: 6px solid var(--button-disabled-foreground);

    color: var(--button-disabled-foreground);
}

.custom-checkbox {
    cursor: pointer;
}

.custom-checkbox .label-text {
    display: inline-block;

    padding-left: 2px;
    margin-top: -11px;

    vertical-align: middle;
    line-height: 1;

    color: var(--checkbox-foreground);
    transition: .15s ease-in-out;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox svg {
    width: 1.2em;

    padding-right: 2px;

    overflow: visible;
}

.custom-checkbox .path {
    fill: none;

    stroke: var(--checkbox-foreground);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;

    transition: 0.5s ease,
    stroke .15s ease-in-out,
    stroke-dashoffset 0.5s ease;
}

.custom-checkbox:hover svg .path {
    stroke: var(--checkbox-hover-foreground);
}

.custom-checkbox:hover .label-text {
    color: var(--checkbox-hover-foreground);
}

.custom-checkbox input:checked ~ svg .path {
    stroke: var(--checkbox-checked-foreground);
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

.custom-checkbox input:checked ~ .label-text {
    color: var(--checkbox-checked-foreground);
}

.custom-checkbox input:disabled ~ svg .path {
    stroke: #ff88ff66;

    opacity: 0.6;

    text-decoration: line-through;
}

.tab-view {
    height: 100%;
}

.tab-headers {
    margin-bottom: 12px;
}

.tab-button {
    display: inline-block;
    margin-right: 12px;

    padding: 0;

    border: none;

    transition: 0s border-bottom-width ease-in-out,
    0.15s color ease-in-out,
    1s border-bottom-color ease-in-out;

}

.tab-button:last-of-type {
    margin-right: 0;
}

.tab-button:hover {
    border: none;
}

.tab-button.selected {
    border-bottom: 2px solid var(--tab-button-selected-border);

    color: var(--tab-button-selected-foreground);
}

.tab-content {
    padding: 0;

    opacity: 1;
    transition: opacity 0.2s ease-in-out,
    transform 2s ease-in;
}

.tab-content.fade-out {
    pointer-events: none;
    opacity: 0;
    transform: scale(0, 0);
}

.tab-content.fade-in {
    opacity: 1;
    transform: scale(1, 1);
}

.selectr-container,
.selectr-selected,
.selectr-container.inverted,
.selectr-container.inverted .selectr-options-container {
    cursor: default;

    background-color: var(--dropdown-background);

    user-select: none;
}

.selectr-selected {
    padding: 0.4rem;

    border: 1px solid var(--dropdown-border);

    font-size: 1rem;

    transition: .15s ease-in-out;
}

.selectr-container.inverted .selectr-options-container {
    border-color: var(--dropdown-focus-border) var(--dropdown-focus-border) transparent;
}

.selectr-selected::before {
    border-color: var(--dropdown-border) transparent transparent;

    transition: .15s ease-in-out;
}

.selectr-selected:hover {
    border: 1px solid var(--dropdown-hover-border);
}

.selectr-selected:hover::before {
    border-color: var(--dropdown-hover-border) transparent transparent;
}

.selectr-container.open .selectr-selected {
    border: 1px solid var(--dropdown-focus-border);
}

.selectr-container.open .selectr-selected::before {
    border-color: transparent transparent var(--dropdown-focus-border);
}

.selectr-options-container,
.selectr-container.open.inverted .selectr-selected {
    background-color: var(--dropdown-background);
    border-color: transparent var(--dropdown-focus-border) var(--dropdown-focus-border);
}

.selectr-placeholder {
    color: var(--dropdown-placeholder-foreground);
}

.selectr-option {
    cursor: default;

    padding: 0.4rem;

    font-size: 1rem;

    color: var(--dropdown-option-foreground);
}

.selectr-option.active {
    color: var(--dropdown-option-hover-foreground);
    background-color: var(--dropdown-option-hover-background);
}

.selectr-option.active.selected {
    color: var(--dropdown-option-foreground);
    background-color: var(--dropdown-option-hover-background);
}

.selectr-option.selected {
    color: var(--dropdown-option-selected-foreground);
    background-color: var(--dropdown-option-selected-background);
}

.selectr-container button,
.selectr-container button:hover {
    border: none;
}

.selectr-clear::after,
.selectr-clear::before {
    background-color: var(--dropdown-clear-foreground);

    transition: .15s ease-in-out;
}

.toast {
    position: absolute;
    z-index: 2;
    
    top: 93%;
    left: 0;
    
    padding: 0.6rem 5rem;
    
    text-align: right;
    text-transform: uppercase;
    
    transform: translateX(-100%);
    
    transition: transform 0.4s ease-in-out;

    pointer-events: none;
}

.toast.information {
    border-right: 6px solid var(--toast-information-border);

    color: var(--toast-information-foreground);
    background-color: var(--toast-information-background);
}

.toast.warning {
    border-right: 6px solid var(--toast-warning-border);
    
    color: var(--toast-warning-foreground);
    background-color: var(--toast-warning-background);
}

.toast.error {
    border-right: 6px solid var(--toast-error-border);
    
    color: var(--toast-error-foreground);
    background-color: var(--toast-error-background);
}

.toast.success {
    border-right: 6px solid var(--toast-success-border);
    
    color: var(--toast-success-foreground);
    background-color: var(--toast-success-background);
}

.toast.show {
    transform: translateX(0%);
}

.danger {
    color: var(--action-danger-foreground);
}

.danger:hover {
    color: var(--action-danger-hover-foreground);
    text-shadow: 0 0 5px var(--action-danger-shadow);
}

.danger:active {
    color: var(--action-danger-active-foreground);
}

.modal-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    z-index: 3;
    
    background: none;
    backdrop-filter: blur(10px);
    transition: opacity 0.2s ease-in;
    
    pointer-events: none;
}

.modal-backdrop.open {
    background-color: var(--modal-backdrop-background);
    opacity: 1;
    pointer-events: all;
}

.modal-box {
    opacity: 0;
    width: 40%;
    
    transition: opacity 0.1s ease-in-out,
                transform 0.2s ease-in-out;
    transform: scale(1.3, 1.3);
}

.modal-box.open {
    opacity: 1;
    
    background-color: var(--modal-dialog-background);
    transform: scale(1, 1);
}

.modal-box-content {
    display: flex;
    flex-direction: column;
    
    padding-top: 6px;
}

.modal-box .modal-title {
    margin: 0 0 2px 10px;
    padding: 0;

    font-weight: 300;
    text-transform: uppercase;

    user-select: none;
}

.modal-box p {
    margin: 0 10px 24px 11px;

    padding: 0;

    word-break: break-word;

    user-select: none;
}

.modal-box .modal-actions {
    display: flex;
    flex-direction: row;
    gap: 24px;

    align-self: flex-end;
    padding-bottom: 20px;
    padding-right: 20px;
}

.modal-box .modal-caution-tape {
    height: 36px;
    margin: 1px 1px 0 1px;
    
    animation: slide-tape 0.85s linear infinite;

    background-repeat: repeat-x;
}

.modal-box.modal-danger .modal-caution-tape {
    background: repeating-linear-gradient(
        45deg,
        var(--modal-dialog-danger-tape-foreground),
        var(--modal-dialog-danger-tape-foreground) 18px,
        var(--modal-dialog-danger-tape-foreground2) 18px,
        var(--modal-dialog-danger-tape-foreground2) 36px
    );

    background-size: 51px 100%;
}

.modal-box.modal-danger {
    border: 1px solid var(--modal-dialog-danger-border);
    box-shadow: 0 0 8px var(--modal-dialog-danger-shadow);
}

.modal-box.modal-danger .modal-title {
    color: var(--modal-dialog-danger-title-foreground);
}

.modal-box.modal-danger .modal-message {
    color: var(--modal-dialog-danger-content-foreground);
}

.modal-box.modal-warning .modal-caution-tape {
    background: repeating-linear-gradient(
            45deg,
            var(--modal-dialog-warning-tape-foreground),
            var(--modal-dialog-warning-tape-foreground) 18px,
            var(--modal-dialog-warning-tape-foreground2) 18px,
            var(--modal-dialog-warning-tape-foreground2) 36px
    );

    background-size: 51px 100%;
}

.modal-box.modal-warning {
    border: 1px solid var(--modal-dialog-warning-border);
    box-shadow: 0 0 8px var(--modal-dialog-warning-shadow);
}

.modal-box.modal-warning .modal-title {
    color: var(--modal-dialog-warning-title-foreground);
}

.modal-box.modal-warning .modal-message {
    color: var(--modal-dialog-warning-content-foreground);
}

.modal-box.modal-information .modal-caution-tape {
    background: repeating-linear-gradient(
            45deg,
            var(--modal-dialog-information-tape-foreground),
            var(--modal-dialog-information-tape-foreground) 18px,
            var(--modal-dialog-information-tape-foreground2) 18px,
            var(--modal-dialog-information-tape-foreground2) 36px
    );

    background-size: 51px 100%;
}

.modal-box.modal-information {
    border: 1px solid var(--modal-dialog-information-border);
    box-shadow: 0 0 8px var(--modal-dialog-information-shadow);
}

.modal-box.modal-information .modal-title {
    color: var(--modal-dialog-information-title-foreground);
}

.modal-box.modal-information .modal-message {
    color: var(--modal-dialog-information-content-foreground);
}


@keyframes slide-tape {
    from {
        background-position: 0 0;
    }
    
    to {
        background-position: 51px 0;
    }
}