:root {
    --main-background: #0f0213;
    --main-foreground: #cfaee9;
    --scrollbar-background: #0f0213;
    --scrollbar-foreground: #ff88ff;
    --selection-background: #ff88ff;
    --selection-foreground: #1e0725;
    --navbar-background: #5c116e99;
    --navbar-border: #dc49f0;
    --navbar-shadow: #f049d488;
    --navbar-link-foreground: #e473e4;
    --navbar-link-hover-foreground: #ff88ff;
    --navbar-separator-foreground: #73e4af;
    --footer-foreground: #ffffff;
    --footer-background: #5c116e99;
    --footer-border: #dc49f0;
    --footer-shadow: #f049d488;
    --footer-separator: #73e4af;
    --post-title-foreground: #c96cff;
    --post-subtitle-foreground: #c96cffaa;
    --post-continuation-prompt-foreground: #804e9c;
    --post-meta-foreground: #804e9c;
    --post-meta-border: #804e9c;
    --post-meta-separator: #73e4af99;
    --post-meta-accent: #ff88ffaa;
    --list-bullet-foreground: #ff88ff99;
    --block-background: #200529;
    --block-foreground: #aa88c4;
    --table-border: #aa88c4;
    --table-header-background: #cfaee9;
    --table-header-foreground: #1e0725;
    --table-background: #0f0213;
    --table-even-row-background: #200529;
    --link-normal-foreground: #ee77ee;
    --link-hover-foreground: #ff88ff;
    --link-visited-foreground: #ee77ee;
    --link-active-foreground: #ff88ff;
    --link-active-shadow: #ff88ff88;
    --button-background: #ff88ff;
    --button-foreground: #200529;
    --button-border: #ff88ff;
    --button-hover-background: #200529;
    --button-hover-foreground: #ff88ff;
    --button-hover-border: #ff88ff;
    --button-active-background: #200529;
    --button-active-foreground: #ff88ff;
    --button-active-border: #ff88ff;
    --button-disabled-background: #774477;
    --button-disabled-foreground: #200529;
    --button-disabled-border: #774477;
    --post-separator: #ff88ff99;
    --header-border: #cfaee9;
    --alert-note-accent: #ff88ff;
    --alert-note-accent2: #ff88ff99;
    --alert-note-background: #ff88ff22;
    --alert-note-foreground: #ff88ff;
    --alert-tip-accent: #88f1ff;
    --alert-tip-accent2: #88f1ff99;
    --alert-tip-background: #88f1ff22;
    --alert-tip-foreground: #88f1ff;
    --alert-important-accent: #88ff92;
    --alert-important-accent2: #88ff9299;
    --alert-important-background: #88ff9222;
    --alert-important-foreground: #88ff92;
    --alert-warning-accent: #ffcf88;
    --alert-warning-accent2: #ffcf8899;
    --alert-warning-background: #ffcf8822;
    --alert-warning-foreground: #ffcf88;
    --alert-caution-accent: #ff889c;
    --alert-caution-accent2: #ff889c99;
    --alert-caution-background: #ff889c22;
    --alert-caution-foreground: #ff889c;
}

::selection {
    background-color: var(--selection-background);
    color: var(--selection-foreground);
}

body, html {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    
    font-size: 1.2rem;
    font-family: "Rajdhani", sans-serif;
    
    color: var(--main-foreground);
    background-color: var(--main-background);
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

a {
    transition: .15s ease-in-out;
    
    text-decoration: none;
    
    color: var(--link-normal-foreground);
}

a:hover {
    border: none;
    
    text-shadow: 0 0 3px var(--link-active-shadow);
    
    color: var(--link-hover-foreground);
}

a:active {
    color: var(--link-active-foreground);
}

section.post .post-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

section.post h1.post-title {
    padding: 0;
    padding-left: 8px;
    margin-bottom: 0;

    font-weight: 500;

    border-left: 8px solid var(--post-title-foreground);
}

section.post h1.post-title a {
    color: var(--post-title-foreground);
}

section.post h2.post-subtitle {
    display: block;
    align-self: flex-end;

    padding-left: 8px;
    margin: 0;

    border-left: 8px solid var(--post-subtitle-foreground);

    font-weight: 400;
    font-size: 1rem;

    color: var(--post-subtitle-foreground);
}

section.post .post-toolbar {
    display: inline-block;
}

section.post .post-toolbar-link i {
    vertical-align: middle;

    margin-top: -6px;

    font-size: 1.45rem;
}

section.post .post-toolbar-link {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

section.post .post-content {
    margin-top: 8px;
}

section.post p {
    margin-top: 8px;
    margin-bottom: 8px;
}

section.post p:first-of-type {
    margin-top: 0;
}

section.post p:last-of-type {
    margin-bottom: 0;
}

section.post .post-continuation-prompt {
    display: inline;
    
    margin-left: 4px;
    
    color: var(--post-continuation-prompt-foreground);
}

section.post .post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 4px;

    text-align: left;
    font-size: 1rem;

    color: var(--post-meta-foreground);
}

section.post .post-meta-author {
    color: var(--post-meta-accent);
}

section.post .post-meta-item::after {
    color: var(--post-meta-separator);
    content: " // ";
}

section.post .post-meta-item:last-of-type::after {
    content: " _";
}

section.post .post-meta-tags {
    display: block;
}

section.post .post-meta-tags::before {
    content: "tags :: [";
}

section.post .post-meta-tags ul {
    display: inline;

    margin: 0;
    padding: 0;

    list-style: none;
}

section.post .post-meta-tags ul li {
    display: inline;

    margin: 0;
}

section.post .post-meta-tags ul li::after {
    content: ", ";
}

section.post .post-meta-tags ul li:last-of-type::after {
    content: "]";
}

section.post .post-meta-break {
    vertical-align: middle;

    padding-left: 8px;

    margin: 0;

    font-weight: 500;
    font-size: 1.4rem;

    align-self: center;
    text-transform: uppercase;
}

section.post .post-meta-break a {
    text-wrap: nowrap;
}