@page "/admin/login"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Xaelith.Micro.Infrastructure.ServiceModel.Core.Security

@inject IFlatFileUserStore UserStore;
@inject IBCryptPasswordHasher Hasher;
@inject IToastService Toasts;
@inject IConfigService Configuration;
@inject NavigationManager Navigation;

<HeadContent>
    <link rel="stylesheet" href="style/admin/login.css"/>
</HeadContent>

<div class="login-container">
    <div class="login-box">
        <div class="login-title">
            @Configuration.Root!.General.SiteTitle
        </div>
        
        <div class="login-subtitle">
            authentication required
        </div>

        <EditForm FormName="UserLogin" Model="Credentials" OnValidSubmit="AttemptLogin">
            <div class="input-group username-input">
                <label for="username">Login</label>

                <InputText id="username"
                           type="text"
                           placeholder="Awaiting User ID..."
                           @bind-Value="@Credentials.Username"/>
            </div>

            <div class="input-group password-input">
                <label for="password">Password</label>

                <InputText id="password"
                           type="password"
                           placeholder="Awaiting password..."
                           @bind-Value="@Credentials.Password"/>
            </div>
            
            <div class="input-group">
                <div class="input-row">
                    <CustomInputCheckbox Id="remember-login"
                                         Label="remember"
                                         @bind-Value="@Credentials.RememberLogin"/>


                    <div class="input-submit">
                        <button type="submit">SIGN-IN //_</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; } = null!;

    [SupplyParameterFromForm]
    public UserCredentials Credentials { get; set; } = new();

    private async Task AttemptLogin()
    {
        var user = await UserStore.FindByNameAsync(Credentials.Username);

        if (user == null)
        {
            Toasts.Show(
                "Invalid credentials",
                ToastSeverity.Error
            );
            
            return;
        }

        var passwordVerificationResult = Hasher.Verify(
            Credentials.Password,
            user.PasswordHash
        );

        if (passwordVerificationResult == PasswordVerificationResult.Failed)
        {
            Toasts.Show(
                "Invalid credentials",
                ToastSeverity.Error
            );
            
            return;
        }

        var claims = new List<Claim>
        {
            new(ClaimTypes.Name, Credentials.Username),
            new(ClaimTypes.IsPersistent, Credentials.RememberLogin.ToString()),
            new(ClaimTypes.Sid, user.Id.ToString("D"))
        };

        var identity = new ClaimsIdentity(
            claims,
            CookieAuthenticationDefaults.AuthenticationScheme
        );

        var principal = new ClaimsPrincipal(identity);

        await HttpContext.SignInAsync(principal, new AuthenticationProperties
        {
            IsPersistent = Credentials.RememberLogin
        });
        
        Navigation.NavigateTo(
            "/admin/dashboard",
            true
        );
    }
}